:root {
  --bg-color: #fafafa;
  --dark-green: #63894A;
  --light-green: #33c770;
  --white: #fff;
  --light-gray: #dadada;
  --gray: #495767;
  --delete-red: #c01616;
  --light-red: #fadfdf;
  --sidebar-width: 250px;
  --border-radius: 4px;
}

.textGray {
  color: var(--gray);
}

.App {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.headerContainer {
  height: 10vh;
}

.headerContainer header {
  background-color: var(--dark-green);
}

.sidebarContainer .MuiDrawer-paperAnchorLeft {
  /* width: min(90%, 250px); */
  width: var(--sidebar-width);
  position: absolute;
  left: 0;
  top: 0;
  min-height: 90vh;
}

.mainContainer {
  margin-left: var(--sidebar-width);
}

@media screen and (max-width: 900px) {
  .sidebarContainer .MuiDrawer-paperAnchorLeft {
    height: 100vh;
  }

  .mainContainer {
    margin-left: 0;
  }
}

.headerTitle {
  color: var(--gray);
}

.mainContainer .btnOutlined {
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
  font-weight: 600;
}

.mainContainer .btnOutlined:is(:hover, :focus) {
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
  background: rgba(0, 0, 0, 0.2);
}

.mainContainer .btnContained {
  color: var(--white);
  background: var(--dark-green);
  font-weight: 600;
}

.mainContainer .btnContained:is(:hover, :focus) {
  color: var(--white);
  background: var(--dark-green);
  opacity: 0.8;
}

.statsCard {
  border-radius: var(--border-radius);
  border: 2px solid var(--light-gray);
  background-color: var(--white);
}

.statsCard h5 {
  color: var(--gray);
  opacity: 0.8;
  font-weight: 400 !important;
}

.statsCard h3 {
  color: var(--gray);
}

.searchInputContainer {
  border: 2px solid var(--dark-green);
  border-radius: var(--border-radius);
}

.searchInputContainer input {
  background-color: var(--bg-color);
}

.searchInputContainer input:focus {
  outline: 0;
  border: 0;
}

.searchInputContainer img {
  cursor: pointer;
  max-width: 18px;
}

.tablePagination p {
  margin-bottom: 0;
}

.tableDeleteBtn {
  color: var(--delete-red);
  font-weight: 600;
  cursor: pointer;
}

.tableEditBtn {
  color: var(--dark-green);
  font-weight: 600;
  cursor: pointer;
}

.statusCellVisible {
  color: var(--light-green);
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(201, 241, 210);
  padding: 5% 10%;
  border-radius: 50px;
}

.statusCellHidden {
  color: rgb(253, 181, 27);
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(255, 239, 210);
  padding: 5% 10%;
  border-radius: 50px;
}