:root {
  --bg-color: #fafafa;
  --dark-bleu: #1b70a8;
  --light-blue: #64b2d6;
  --green: #33c770;
  --white: #fff;
  --light-gray: #eeebeb;
  --mid-gray: #c2c1c1;
  --gray: #495767;
  --delete-red: #c01616;
  --light-red: #fadfdf;
  --yelloww: rgb(253, 181, 27);
  --sidebar-width: 250px;
  --border-radius: 8px;

  --default-dark-font: #fff;
  --default-light-font: #495767;

  /* --bgg: #495767; */

  background-color: var(--bg-color) !important;
}

.gapY {
  row-gap: 10px;
}

.light-theme {
  background-color: #fafafa !important;
}

.dark-theme {
  background-color: #353f4a !important;
}

.light-sidebarContainer .MuiDrawer-paperAnchorLeft {
  background-color: #fafafa !important;
}

.dark-sidebarContainer .MuiDrawer-paperAnchorLeft {
  background-color: #182a3e !important;
}

input {
  background-color: transparent !important;
}

.sideLinks-light {
  color: var(--dark-bleu);
}

.sideLinks-dark {
  color: var(--default-dark-font);
}

input:disabled {
  color: black !important;
}

.textBlue {
  color: var(--dark-bleu);
}

.textGray {
  color: var(--gray);
}

.textGray2 {
  color: #649cd4;
}

.textRed {
  color: var(--delete-red);
}

.textGreen {
  color: var(--green);
}

.textYellow {
  color: var(--yelloww);
}

.textLightBlue {
  color: var(--light-blue);
}

.bgLightGray {
  background-color: var(--light-gray);
}

.bgGray {
  background-color: var(--gray);
}

.bgRed {
  background-color: var(--delete-red);
}

.bgGreen {
  background-color: var(--green);
}

.bgYellow {
  background-color: var(--yelloww);
}

.bgLightBlue {
  background-color: var(--light-blue);
}

.rounded-50 {
  border-radius: 50%;
  aspect-ratio: 1 !important;
}

.fw-700 {
  font-weight: 700;
}

.mt-10 {
  margin-top: 10rem;
}

.pointer {
  cursor: pointer;
}

.scrollY {
  overflow-y: auto;
  max-height: 100px;
}

.modalMinWidth {
  min-width: 400px;
}

.App {
  min-height: 100vh;
  background-color: var(--bg-color);
  position: relative;
}

.loaderContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.bigLoader {
  width: 48px;
  height: 48px;
}

.bigLoader::after {
  width: 56px;
  height: 56px;
}

.smallLoader {
  width: 24px;
  height: 24px;
}

.smallLoader::after {
  width: 28px;
  height: 28px;
}


.smallLoader::after {
  width: 28px;
  height: 28px;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--dark-bleu) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.headerContainer header {
  background-color: var(--dark-bleu);
}

.sidebarContainer .MuiDrawer-paperAnchorLeft {
  width: var(--sidebar-width);
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
}

.mainContainer {
  margin-left: var(--sidebar-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainDashboardContainer {
  margin-left: var(--sidebar-width);
}

@media screen and (min-width: 1000px) {

  .lineshartContainer {
    max-width: 80%;
    min-height: 500px;
  }
}

@media screen and (max-width: 1000px) {

  .lineshartContainer {
    min-height: 400px;
  }
}

@media screen and (max-width: 450px) {

  .lineshartContainer {
    min-height: 300px;
  }
}

.logoLink {
  text-decoration: none !important;
}

.headerTitle {
  color: var(--gray);
}

.headerss-light {
  color: var(--default-light-font);
}

.headerss-dark {
  color: var(--default-dark-font);
}

.btnOutlined {
  border: 2px solid var(--dark-bleu) !important;
  color: var(--dark-bleu) !important;
  font-weight: 600 !important;
}

.btnOutlined:is(:hover, :focus) {
  border: 2px solid var(--dark-bleu) !important;
  color: var(--dark-bleu) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.mainContainer .btnContained {
  color: var(--white);
  background: var(--dark-bleu);
  font-weight: 600;
}

.mainContainer .btnContained:is(:hover, :focus) {
  color: var(--white);
  background: var(--dark-bleu);
  opacity: 0.8;
}

.MuiToolbar-root p {
  margin-bottom: 0;
}

.formsContainer {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.formsTitles {
  color: var(--gray);
}

.input-outline {
  width: -webkit-fill-available;
}

.formsLable {
  color: var(--mid-gray);
  font-weight: bold;
}

.formsInputCont {
  background-color: var(--light-gray);
  border-radius: 5px;
  padding: 10px;
  border: 0;
  outline: none;
}

.formsInput {
  background-color: var(--light-gray);
  border: 0;
  border-radius: 5px !important;
  outline: none;
}

textarea {
  border: 0;
  border-radius: 5px;
  outline: none;
  background-color: var(--light-gray);
  padding: 10px;
}

/*Auth section*/
.registrationContainer {
  background-image: url('assets/loginBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.registrationForm {
  background-color: #fff;
  border-radius: var(--border-radius);
  max-width: 500px;
}

.errorInputO {
  border: 1px solid var(--delete-red) !important;
  color: var(--delete-red) !important;
}

.errorDD .css-1s2u09g-control {
  border: 1px solid var(--delete-red) !important;
  color: var(--delete-red) !important;
}

.errorInput .css-1ptx2yq-MuiInputBase-root-MuiInput-root {
  color: var(--delete-red);
}

.errorInput .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid var(--delete-red);
}

.errorMessageContainer {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  color: var(--delete-red);
}

.errorMessageReg {
  position: absolute;
  top: -15px;
  right: 0;
  color: var(--delete-red);
  font-size: 12px;
}

.errorMessagenormal {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--delete-red);
  font-size: 12px;
}

/*Dashboard section*/

.dashboardBg {
  background-image: url("../src/assets/dashBg.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dashboardBgCover {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.dashboard-tomorrow {
  border: 3px solid rgb(187, 187, 187);
}

.TomorrowsCardContainer {
  max-width: 700px;
}

.dashboardTitleContainer {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.initial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-inner {
  text-align: center;
  text-align: -webkit-center;
}

.giftIcon {
  position: absolute;
  left: 40px;
  top: 5;
}

.selected {
  background-color: rgba(0, 84, 240, 0.1);
}

.sideBarList .MuiBox-root {
  text-align-last: center;
}

.sideBarList .list-btn {
  border-bottom: 1px solid var(--light-gray) !important;
  color: var(--dark-bleu);
}

.sideBarList li:first-child {
  border-top: 0.1px solid var(--light-gray);
}

.sideBarList .css-tlelie-MuiListItemText-root {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.detailsCard {
  border-radius: 10px;
  border: 1px solid rgba(57, 87, 112, 0.54);
  box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.54);
  -webkit-box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
  -moz-box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.54);
}


.geoItem {
  border-radius: 10px;
  border: 1px solid rgba(57, 87, 112, 0.34);
  box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
  -webkit-box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
  -moz-box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
}

.initials-circle {
  border-radius: 50%;
  border: 1px solid var(--dark-bleu);
  box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
  -webkit-box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
  -moz-box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
  color: var(--dark-bleu) !important;
  aspect-ratio: 1 !important;
  width: 120px;
  position: relative;
}

.initials-circle h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.initials-circle-bg {
  background-image: url('./assets/avatar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% 100%; */
}

.css-yb0lig {
  font-weight: bold !important;
}

.sideBarList .css-10hburv-MuiTypography-root {
  font-weight: bold !important;
}

.line {
  color: var(--dark-bleu);
  font-weight: bolder;
}

.deliveriesTitle {
  font-weight: 500;
  font-size: 15px;
}

.scheduleCard {
  color: var(--light-blue);
}

/*orders section*/

.order-title-border {
  border-right: 1px solid var(--dark-bleu);
  border-left: 1px solid var(--dark-bleu);
}

.orderConainer {
  border-radius: 5px;
  border: 1px solid var(--dark-bleu);
  padding: 20px;
}

.orderConainerbg1 {
  background-color: var(--white);
}

.orderConainerbg2 {
  background-color: var(--light-gray);
}

.Address-orders {
  text-align: center;
}

.orderConfirmed {
  color: var(--green) !important;
  border: 2px solid var(--green) !important;
}

.order-title {
  color: var(--dark-bleu);
}

.order-card-lable {
  color: var(--gray);
}

.orderTotalsbox {
  border: 2px solid var(--dark-bleu);
  border-radius: var(--border-radius);
  margin-bottom: auto;
}


.myAccordion .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  margin-bottom: 16px !important;
  border-radius: 10px !important;
  border: 1px solid rgba(57, 87, 112, 0.34);
  box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
  -webkit-box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
  -moz-box-shadow: 0px 14px 23px 0px rgba(57, 87, 112, 0.14);
}

.myAccordion .css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  display: none;
}

.myAccordion .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin-bottom: 0;
}

.delete-promotion-btn {
  background-color: var(--delete-red) !important;
}

.delete-promotion-btn .btnContained {
  background-color: var(--delete-red) !important;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: var(--dark-bleu) !important;
}

.dateTimePicker .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
  border: 0;
}

.ddSelect .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root,
.ddSelect .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled):before,
.ddSelect .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:hover,
.ddSelect .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after,
.ddSelect .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before {
  content: "";
  border: 0;
  background-color: var(--light-gray);
  border-radius: 5px;
  padding: 2px 0;
  outline: none;
  box-shadow: none;
}

.ddSelect .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before,
.ddSelect .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after {
  display: none !important;
}

.DropDownSearchContainer .css-1s2u09g-control,
.DropDownSearchContainer .css-1pahdxg-control {
  border: 0;
  background-color: var(--light-gray);
  border-radius: 5px;
  padding: 5px 0;
  outline: none;
  box-shadow: none;
}

.listItem {
  background-color: #cfebf9;
}

.listItem input {
  outline: none;
  max-width: 100px;
}

.listItem .listItemTitle {
  width: 300px;
}

/*finalize section*/
.viewRoute {
  color: var(--dark-bleu);
  cursor: pointer;
  font-weight: 600;
}

/*Products section*/
.prodRowEditBox {
  border-radius: var(--border-radius);
  border: 2px solid var(--light-gray);
}

.categoryCard {
  border-radius: var(--border-radius);
  border: 2px solid var(--light-gray);
  min-height: 180px;
}

.statsCard {
  border-radius: var(--border-radius);
  border: 2px solid var(--light-gray);
  min-height: 180px;
  color: white;
}

.statsCard h3 {
  /* color: var(--gray); */
  opacity: 0.8;
  font-weight: 400 !important;
}

.statsCard h2 {
  /* color: var(--gray); */
}

.searchInputContainer {
  border: 2px solid var(--dark-bleu);
  border-radius: var(--border-radius);
}

.searchInputContainer input {
  background-color: var(--bg-color);
}

.searchInputContainer input:focus {
  outline: 0;
  border: 0;
}

.searchInputContainer img {
  cursor: pointer;
  max-width: 18px;
}

.tableHeading {
  font-weight: bold !important;
  color: black;
}

.tablePagination p {
  margin-bottom: 0;
}

.tableDeleteBtn {
  color: var(--delete-red);
  font-weight: 600;
  cursor: pointer;
}

.tableEditBtn {
  color: var(--dark-bleu);
  font-weight: 600;
  cursor: pointer;
}

.statusCellVisible {
  color: var(--light-blue);
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--light-blue);
  padding: 5% 10%;
  border-radius: 50px;
}

.statusCellHidden {
  color: var(--yelloww);
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--yelloww);
  padding: 5% 10%;
  border-radius: 50px;
}

.product-hide-show .btnOutlined {
  width: -webkit-fill-available;
}

.show .btnOutlined {
  color: var(--dark-bleu) !important;
}

.hide .btnOutlined {
  color: var(--delete-red) !important;
  border: 2px solid var(--delete-red) !important;
}

/* customer section*/

.dropDownContainer .MuiFormControl-root {
  margin: 0 !important;
  background-color: var(--light-gray);
}

.MuiInputBase-root .MuiSelect-select {
  padding: 10px;
}

.MuiInputBase-root .MuiSelect-select :focus {
  outline: none !important;
}

.formsContainer .PhoneInputInput {
  background-color: var(--light-gray);
  border-radius: 5px;
  padding: 10px;
  border: 0;
  outline: none;
}

.PhoneInput,
.addressColl>* {
  flex: 1;
}

.subText {
  color: var(--gray);
  /* font-size: 25px; */
}

/* Promotion section*/
.promotion-customer {
  color: var(--dark-bleu);
}

.ArrowBackIcon {
  color: var(--dark-bleu);
  cursor: pointer;
}

.customer-promotion {
  border: 1px solid var(--light-gray);
  border-radius: 3px;
}

.promotion-container {
  border: 1px solid var(--light-gray);
  border-radius: 3px;
}

.settingIcon {
  cursor: pointer;
  color: var(--dark-bleu);
}

.deleteIcon {
  cursor: pointer;
  color: var(--delete-red);
}

.range-date {
  color: var(--mid-gray);
  font-weight: 500;
}

.fromDolar {
  color: var(--mid-gray);
  font-weight: 500;
}

.text-promotion {
  color: var(--gray);
  font-size: small;
}

.title-promotion {
  font-size: small;
  font-weight: 600;
  color: var(--gray);
}

.title-promotion-with {
  color: var(--gray);
  font-size: medium;
  font-weight: 600;
}

.container-promotion {
  border-right: 1px solid var(--dark-bleu);
  text-align: center;
}

.circle-delete-icon {
  cursor: pointer;
}

/* Vehicle section*/

.statsCardVehicle h5 {
  font-weight: 400 !important;
}

.statsCardVehicle {
  border-radius: var(--border-radius);
  border: 2px solid var(--light-gray);
  color: var(--white) !important;
  min-height: 180px;
}

.nameModel {
  color: var(--dark-bleu);
  font-weight: bold;
  font-size: medium;
}

.statuCellOnRoad {
  color: var(--gray);
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--gray);
  padding: 5% 10%;
  border-radius: 50px;
  text-align: center !important;
}

.statuCellOutOfService {
  color: var(--delete-red);
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--delete-red);
  padding: 5% 10%;
  border-radius: 50px;
}

.dateNamemodel {
  color: var(--gray);
  font-size: x-small;
}

.statsCardVehicleCon {
  flex: 1 !important;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root.Mui-error:after,
.css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 0 !important;
}

/*medias*/

@media screen and (max-width: 450px) {
  .no-border .deliveriesTitle {
    border: none !important;
  }

  .dashboardTitleContainer {
    position: absolute;
    top: 40%;
    left: 20px;
  }

  .Address-orders {
    margin-bottom: 5px;
    text-align: left;
  }

  .order-title-border {
    border: 0 !important;
    padding: 10px 0;
  }

  .registrationContainer {
    align-content: start;
  }

  .registrationContainer>div:first-child {
    margin: 40px 0;
  }

  .statsCardVehicle {
    margin: 0 !important;
  }

  .product-hide-show {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .dropDownContainer .MuiFormControl-root {
    min-width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .mainContainer {
    margin-left: 0;
  }

  .container-promotion {
    border-right: none;
    text-align: left;
  }

  .title-promotion {
    margin-bottom: 0 !important;
    margin-top: 5px;
  }

  .title-promotion-with {
    margin-top: 5px;
  }

  .mainDashboardContainer {
    margin-left: 0;
  }

}

.borderBottom {
  border-bottom: 1px solid var(--light-blue);
}

.maxw {
  max-width: 350px;
}


.dropbtn {
  background-color: #eeebeb;
  color: rgb(131, 131, 131);
  padding: 13px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: start;
  border-radius: 4px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #e2e2e2;
}

#myInput {
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
}

#myInput:focus {
  outline: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  max-height: 300px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.p-10 {
  padding: 12px !important;
}